/* 
### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
}

img {
  padding-top: 20px;
  max-width: 50px;
}
h2 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  padding-top: 20px;
  letter-spacing: 0.7px;
  font-size: 28px;
}

p {
  color: hsla(0, 0%, 100%, 0.7);
  line-height: 1.4;
  padding-top: 20px;
  padding-bottom: 25px;
  letter-spacing: .6px;
  font-size: 15px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 75px auto;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  padding: 20px 40px;
  border: 1px solid hsl(31, 77%, 52%);
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
  padding: 20px 40px;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  padding: 20px 40px;
  border: 1px solid hsl(179, 100%, 13%);
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

button {
  font-size: 12px;
  font-weight: bold;
  padding: 10px 25px;
  margin-bottom: 20px;
  background-color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
  border-radius: 200px;
  transition: 0.3s ease-in-out;
}

.sedanBtn {
  color: hsl(31, 77%, 52%);
}
.suvBtn {
  color: hsl(184, 100%, 22%);
}

.luxuryBtn {
  color: hsl(179, 100%, 13%);
}

button:hover {
  cursor: pointer;
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
background-color: transparent;
}


/* MEDIA QUERIES */

@media (min-width: 400px) {
  .card {
    max-width: 350px;
  }
}

@media (min-width: 1280px) {
  .card {
    max-width: 60%;
    flex-direction: row;
    justify-content: space-around;
    
  }

  .sedans,
  .suvs,
  .luxury {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: top;
  }

  p {
   max-height
  }

  .sedans {
    border: 1px solid hsl(31, 77%, 52%);
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .luxury {
    border: 1px solid hsl(179, 100%, 13%);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  h2 {
    font-size: 32px;
  }

  p {
    max-height: 120px;
    margin-bottom: 40px;
   
  }
  button {
    margin-top: 50px;
    width: 70%;
  }
}
